body{
     margin:0%;
}
.Container{
     width:100vw;
     height:fit-content;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
     font-family: Baskerville, Georgia, Roboto,Times New Roman;
     background-size: 100% 100%;
     background-color: rgb(68, 68, 129);
     /* background-image: url('./4.webp'); */
     /* padding: 2%; */
     }

.Header{
     position: -webkit-sticky;
     position: sticky;
     top:0;
     display: flex; 
     width:100%;
     padding: 0%;
     justify-content: space-between;
     background-color: rgb(68, 38, 38);
     color:gainsboro;
     font-family: Baskerville , Georgia;
          }
          .Name{
               height:100%;
               width: 30%;
               font-weight: 900;
               font-family: Baskerville, Georgia;
               transform: translate(10%, 50%);
          }
          .link{
               display: flex;
               height:100%;
               width: 60%;
               justify-content: space-between;
               padding-right: 2%;
               
          }

          .link a{
               text-decoration:none;
               height:100%;
               padding:1%;
               color: gainsboro;
               font-weight: 900;
               font-family: Baskerville, Georgia;
          }

          .link a:hover{
              background-color:gray;
          }
          
.About{
     display: flex;
     flex-direction: column;
     width: 100%;
     padding: 1%;
     margin: 0%;
     align-items: center;
     /* background-color: blanchedalmond; */
     background-size: 100% 100%;
     /* background-image: url('./4.webp'); */
     gap: 15px;

}

.Soft{
     margin-left: -70%;
     color:rgb(62, 230, 62);
     font-size: 200%;
     font-weight: 900;
     padding: 2%;
     box-shadow: 2px 2px 2px 2px black;
     border-radius:2%;
}
.div{
     display: flex;
     width: 90%;
     padding: 1%;
     padding: 2%;
     box-shadow: 3px 3px 3px 3px black;
     border-radius:2%;
}
.Adiv{
     width: 70%;
     display: flex;
     flex-direction: column;
     padding: 1%;
     font-size: 150%;
     font-family: Georgia;
     color: white;

}

.Idiv{
     width: 30%;
     
}
.Idiv img{
     width:100%;
     height: 100%;
     border-radius: 5%;
     }
.TechSkill{
     display: flex;
     flex-direction: row;
     box-shadow: 2px 2px 2px 2px black;
     border-radius:2%;
     width:90%;
}
.Tech{
     display: flex;
     flex-direction: column;
     width: 30%;
     height:fit-content;
     padding: 1%;
     margin: 1%;
     box-shadow: 2px 2px 2px 2px black;
     border-radius:2%;

}
.Tech div, .Skill div{
     padding: 2%;
     margin: 3%;
     box-shadow: 2px 2px 2px 2px black;
     border-radius:2%;
     font-weight: 600;
     font-family: Georgia, Baskerville;
     color: gainsboro;
}
.Skill{
     display: flex;
     flex-direction: column;
     width: 60%;
     height:fit-content;
     padding: 1%;
     margin: 1%;
     box-shadow: 2px 2px 2px 2px black;
     border-radius:2%;
}
.Projects{
     width: 90%;
     box-shadow: 2px 2px 2px 2px black;
     border-radius:2%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 2%;
     gap: 15px;
}
.Contact{
     width: 90%;
     box-shadow: 3px 4px 4px 3px black;
    font-weight: 900;
    font-family:Baskerville Old Face;
    font-size:20px;
    color: gainsboro;
    padding: 2%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: justify;
    gap: 10%;
    text-transform: capitalize;
    height: fit-content;
    border-radius:2%;
    margin-bottom: 10%;
} 

.Contact a{
     text-decoration: none;
     width: 5%;
     height: fit-content;
     margin-top: 0%;
     margin-bottom:5%;
}
@media screen and (max-width: 1000px){
     .Container{
            gap:20px;
            font-family: Baskerville, Georgia, Roboto;
            margin-bottom: 20px;
              }
      .Header{
          font-size: 60%;
          padding: .5%;
     }
     .Name{
          transform: translate(5%, 20%);
     }
     .About{
          width:90%;
     }
     .Soft{
          font-size:100%;
          margin-left: 0%;
     }
     .About .div{
          width: 98%;
          font-size: 70%;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          padding:1%;
          font-family: Baskerville, Georgia, Roboto;
     }
     .About .Adiv{
          width:96%;
          text-align: justify;
          padding: 2%;
          color: gainsboro;
     }
 .About .Idiv{
          display: none;
     }
     .Idiv{
          transform:translate(10%, 0%);
          width: 30%;
          margin-top: -1%;
     }
     .TechSkill{
          padding: 5% 0%;
          align-items: center;
          flex-direction: column;
          font-size: 40%;
          width: 96%;
     }
     .Tech, .Skill{
          width: 85%;
          font-size: 200%;
          margin-bottom: 20px;
     }
     .Projects .div{
          font-size: 70%;
          width:90%;
          padding-right: 2%;
     }
     .Projects .Idiv{
          font-size: 70%;
          width:40%;
          height: 30%;
          margin-top: 10%;
     }
     .Projects{
          width:90%;
     }

     .Contact{
          font-size: 120%;
          width: 90%;
          margin-bottom: 15%;
          padding-bottom: 25%;
     }
     .Contact a{
          text-decoration: none;
          width: 15%;
          margin-top:-2%;
     }
  }
